html {
	text-align: center;
	font-size: 62.5%;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

.hidden {
	display: none;
}

main {
	font-size: 2rem;
}

h1 {
	font-size: 3rem;
	margin: 2rem auto;
}

ul {
	list-style-type: none;
}

li {
	margin-top: 2rem;
}

legend {
	padding-top: 1rem;
	margin: auto;
}

fieldset {
	width: max-content;
	margin: auto;
	border: 1px solid black;
	padding: 1.5rem;
}

.answers-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1.5rem;
}

	.answers-container input {
		display: none;
	}

	.answers-container input+label {
		background-color: lightblue;
		color: black;
		padding: 0.5rem;
		border-radius: 1rem;
		max-width: 20vw;
	}

	.answers-container input:checked+label {
		background: darkblue;
		color: white;
	}


	.answers-container input+label.correct-answer {
		background: green;
		color: white;
	}

	.answers-container input:checked+label.correct-answer {
		background: rgb(0, 138, 139);
		color: white;
	}

.question-field-wrappers {
	position: relative;
}

@media (min-width: 700px) {
	.question-info {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 1rem;
	}

	.timer {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
	}
}

@media (max-width: 700px) {
	.answers-container input+label {
		max-width: none;
	}
}